<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/style.css">
    <title>Online Auction</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item me-5">
                            <a class="nav-link active text-nowrap" aria-current="page" href="/"><i
                                    class="bi bi-house me-2"></i>Trang
                                chủ</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Điện tử
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Điện thoại thông minh</a></li>
                                <li><a class="dropdown-item" href="#">Máy tính</a></li>
                                <li><a class="dropdown-item" href="#">Camera</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Thời trang
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Giày</a></li>
                                <li><a class="dropdown-item" href="#">Đồng hồ</a></li>
                                <li><a class="dropdown-item" href="#">Quần áo</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Thể thao
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Điền kinh</a></li>
                                <li><a class="dropdown-item" href="#">Thể hình</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Mỹ phẩm
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Đồ trang điểm</a></li>
                                <li><a class="dropdown-item" href="#">Dưỡng da</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-2">
                        <li class="nav-item">
                            <a class="nav-link text-nowrap" href="#">Đăng nhập</a>
                        </li>
                    </ul>
                </div>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Tìm sản phẩm" aria-label="Search" />
                    <button class="btn btn-primary text-nowrap" type="submit">Tìm Kiếm</button>
                </form>
            </div>
        </nav>
    </header>

    {{{body}}}
    
    <footer class="container-fluid p-5 bg-light gap-3">
        <div class="row">
            <div class="col-12 col-md-4 mb-3">
                <p class="fw-bold">Bidder</p>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Đăng ký</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Nâng cấp thành
                            seller</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <p class="fw-bold">Seller</p>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Mở bán</a></li>
                </ul>
            </div>
        </div>
        <div class="py-4 my-4 border-top">
            <p>© Online Auction.</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>