/* login and register */
.full-height {
    height: 100vh;
    width: 100vw;
}

.roundA30 {
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    background-color: white;
    color: black;
    transition: background-color 0.2s;

    img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        object-fit: cover;
    }

}
.roundA30:hover {
    background-color: #E5E5E5;
    color: black;
    text-decoration: none;
}
.separator {
    display: flex;
    align-items: center;
    margin: 20px 0;
    text-align: center;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: #ccc; 
    margin: 0 10px;
}

.header-login-regis{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
